    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">              
                <h2>About</h2>
                <p>
                    <br/>
                </p>
                <p>
                    Hungarian baritone Gyula Nagy is currently a member of the Jette Parker Young Artists Programme in the Royal Opera House. His roles in his first season include Fiorello (Il barbiere di Siviglia), Filotete (Oreste), Konrad Nachtigall (Die Meistersinger von Nürnberg), Imperial Commissioner (Madama Butterfly), Flemish Deputy (Don Carlo) and Baron Douphol (La traviata) for The Royal Opera and in Les Enfants Terribles for The Royal Ballet.
                </p>
                <p>
                    Nagy studied with Károly Ötvös and Mária Fekete in Hungary and with Philip O’Reilly at the Royal Irish Academy of Music. He also trained at the National Opera Studio, supported by the Royal Opera House and the International Opera Awards Foundation, and was a member of the Opera Theatre Company’s Young Associate Artists Programme in Dublin. He currently learns with Robert Dean and Nicholas Powell. He previously studied English language and literature and theatre studies at the University of Pannonia in Veszprém, Hungary. He has received support from the Tudás a Jövönkért Foundation, International Opera Awards Foundation , the John McCormack Society and the Gaiety Bursary.
                </p>
                <p>
                    In the spring/summer season in 2016, he was an Associate Artist with Welsh National Opera, where his roles included Silvio (Pagliacci) and covering Count Almaviva (Le nozze di Figaro) and the Count (Elena Langer’s Figaro Gets a Divorce). Other operatic engagements include covering Escamillo (Carmen) for Scottish Opera and singing Don Giovanni for the National Opera Studio and Tarquinius (The Rape of Lucretia) for Irish Youth Opera.
                </p>
                <p>
                    <a href="/assets/CV_GyulaNagy.odt"><img border="0" src="../img/cv-icon.png" width="120" height="120"></a>
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </div>
    </section>